/* primary related styles */
* {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}


.primary-btn {
  margin-left: 240px;
  padding: 20px 43px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #E55473;
  border: none;
}

.primary-btn:hover {
  color: #E55473;
  background-color: #FFF;
  transition: .5s;
  outline: 2px solid #E55473;
  cursor: pointer;
}


/* banner related styles */
.banner {
  background: rgba(229, 84, 115, 0.10);
  height: 850px;
}

.banner-container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
}

.banner-title {
  padding-top: 197px;
  padding-left: 240px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
}

.banner-description {
  margin-left: 240px;
  padding: 33px 0;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
}

/* .banner-img {
  margin-top: 452px;
} */

.banner-img img {
  /* width: 80%; */
  width: 635px;
  height: 800px;
}

/* hot-deal related styles  */
.hot-deal {
  margin-top: 100px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal-container {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  /* padding: 0px 20px; */
}

.hot-deal-col1 {
  padding-left: 150px;
}

.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}

.hot-deal-description {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 24px;
}


/* instagram related styles */

.instagram {
  text-align: center;
}

.instagram-title {
  margin: 128px 0 24px 0;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.instagram-description {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 28px;
}

.instagram-container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.single-image {
  width: 342px;
  height: 396px;
  padding: 0 12px;
}


/* newsletter related styles */
.newsletter {
  padding: 128px 240px;
  text-align: center;
}

.newsletter-container {
  background: url('../assets/Rectangle 9.png');
  width: 1440px;
  height: 449px;
}

.newsletter-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 120px;
}

.newsletter-description {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  padding: 16px 0 48px 0;
}

.search-box input[type="search"] {
  padding: 22px 513px 22px 22px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
}

/* footer related styles */
footer {
  height: 449px;
  background-color: #000;
  color: #FFF;
  text-align: center;
}

.footer-title {
  font-size: 48px;
  font-weight: 800;
  padding: 128px 0 24px 0;
}

.footer-title span {
  color: #E55473;
}

.footer-description {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

.copyright{
  color: rgba(255, 255, 255, 0.40);
  font-size: 16px;
  font-weight: 400;
}